@media (max-width: 1199.98px)
  .container
    max-width: 960px
  .slider
    width: 600px
  .hotel-grid
    &__wrapper
      width: 335px
  .card
    width: 230px
    height: 230px
  .packages
    &-wrapper
      gap: 20px

@media (max-width: 991.98px)
  .container
    max-width: 700px
  .navbar-top
    padding: 31px 0 30px
    &__search
      margin-left: auto
      margin-right: 73px
  .logo
    width: 132px
    margin-bottom: 4px
  .search
    &__input
      width: 340px
  .navbar-bottom
    padding-top: 21px
    padding-bottom: 22px
  .nav-menu
    justify-content: space-around
    &__item
      line-height: 15px
    &__link
      font-size: 12px
  .breadcrumb
    &-list
      padding: 19px 0 18px
  .hotel-grid
    flex-direction: column
    padding-bottom: 60px
    &__wrapper
      flex-direction: row
      width: 100%
    &__slider
      margin-bottom: 30px
      margin-left: 0
  .slider
    width: 100%
  .booking, .map
    width: 340px
    height: 210px
  .booking
    padding: 28px 22px 26px 23px
  .subscription
    padding: 92px 0 93px
    &__wrapper
      width: 100%
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-swiper
      &__item
        width: 579px
        &::before,
        &::after
          display: none
      &__button
        top: 45%
        &_prev
          left: 0
        &_next
          right: 0
    &__text
      padding: 0
  .activities
    padding: 59px 0 70px
    &__card
      margin-bottom: 20px
      &:nth-child(n+3)
        margin-bottom: 0
  .card
    width: 339px
    height: 255px
    &-wrapper
      flex-wrap: wrap
  .packages
    padding-top: 20px
    &-shell
      grid-template-rows: 80px 1fr
    &-wrapper
      grid-template-rows: repeat(3, 1fr)
      grid-template-columns: repeat(2, 1fr)
    &__title
      font-size: 30px
      line-height: 38px
  .footer
    padding: 73px 0 33px
    &-wrapper
      grid-template: auto 36px auto 61px auto 59px / minmax(24%, 200px) minmax(38%, 298px) 42px 1fr
      grid-auto-rows: auto
      row-gap: 0
    &__categories,
    &__additional,
    &__legal
      grid-row-start: 3
    &__logo
      grid-row: span 1
      &-image
        width: 104px
        height: 120px
    &__social-networks
      align-self: center
      margin-left: -13px
    &__additional
    &__legal
      grid-column: 3 / 5
    &__contacts
      grid-row-start: 5
      &-form
        grid-row-start: 7
        grid-column: span 3
    &__form
      &-title
        margin-bottom: 33px
    &__input
      padding: 19px 23px 18px
      &-group
        margin-bottom: 15px
    &__info
      margin-top: 63px
    &-info
      justify-content: flex-start
  .contacts
    &__title
      margin-top: 0
    &-wrapper
      grid-template-columns: 45px 1fr
    &__icon
      padding-left: 8px
  .modal
    &__dialog
      padding: 33px 55px
      min-width: 410px
@media (max-width: 767.98px)
  body
    margin-top: 70px
  .container
    width: 87%
  .header
    &-top
      &_mobile
        &_fixed
          position: fixed
          top: 0
          right: 0
          left: 0
          z-index: 99
    &-bottom
      &_mobile
        &_hidden
          display: none
        &_visible
          display: block
          position: fixed
          top: 70px
          right: 0
          left: 0
          bottom: 0
          z-index: 99
  .navbar-top
    &__search, &__user
      &_mobile
        &_hidden
          display: none
    &__search
      margin-bottom: 19px
      margin-right: 0
    &__user
      margin-bottom: 7px
  .user
    display: flex
    flex-direction: column
    &__name
      &_light
        color: $light
        margin-top: 10px
        margin-left: 0
  .search
    &__input
      width: 245px
  .navbar-top
    &__search, &__user
      &_mobile
        &_hidden
          display: none
  .nav-menu
    &__item
      &_mobile
        &_visible
          display: block
  .menu-button
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    height: 11px
    width: 16px
    padding: 0
    border: none
    background-color: $light
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
  .nav-menu
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    &__item
      margin-bottom: 20px
  .hotel
    &-info
      padding-top: 5px
      &__text
        width: 100%
      &__offer
        order: -1
      &__name
        width: 100%
        margin-right: 0
        margin-top: 11px
      &__stars
        margin: 0
      &__rating
        display: none
    &-wrapper
      justify-content: space-between
    &-grid
      padding-top: 18px
      padding-bottom: 40px
      &__slider
        margin-bottom: 20px
      &__wrapper
        flex-direction: column
    &__booking
      margin-bottom: 20px
  .stars
    width: auto
  .slider
    height: 400px
  .booking, .map
    width: 100%
  .subscription
    &__wrapper
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 38px
    &__input
      padding-left: 20px
  .reviews
    padding-bottom: 50px
    &__title
      margin: 0 auto 42px
      max-width: 245px
      font-size: 18px
      line-height: 23px
    &-swiper
      &__item
        padding-right: 29px
        padding-bottom: 33px
        padding-left: 33px
        width: 100%
      &__button
        top: 30px
        &_prev
          left: 34px
        &_next
          right: 37px
  .packages
    &-wrapper
      grid-template-rows: repeat(5, 1fr)
      grid-template-columns: 100%
    &__item
      max-height: 350px
      grid-template-rows: 100%
      grid-template-columns: 40% 60%
      &:first-child
        grid-column: 1
        grid-template-columns: 40% 60%
    &__text
      display: none
    &-card
      &__price-block
        grid-template-rows: 1fr 1fr
        grid-template-columns: 100%
      &__button
        width: 100%
  .card
    width: 48%
  .footer
    &-wrapper
      grid-template: auto 38px auto 61px auto 60px / 35% 39% 69px 1fr
      grid-auto-rows: auto
      row-gap: 0
      &-image
    &__contacts
      grid-column: span 4
      &-form
        grid-column: span 4
    &__input
      &-group
        width: 49%
        min-width: auto
@media (max-width: 575.98px)
  .slider
    height: 320px
    &-button
      width: 12px
      height: 12px
      background-size: 4px
      &_prev
        left: 7px
      &_next
        right: 7px
  .subscription
    padding: 76px 0 83px
    &__title
      font-size: 20px
      line-height: 25px
    &__strong
      font-size: 30px
      line-height: 38px
      margin-top: 4px
    &__form
      width: 100%

  .activities
    padding: 40px 0 60px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
    &__card
      &_first
        order: 1
      &_second
        order: 2
      &_third
        order: 1
      &_fourth
        order: 3
      &:nth-child(n+3)
        margin-bottom: 28px
      &:last-child
        margin-bottom: 0

  .card
    width: 100%
    &-wrapper
      flex-direction: column

  .packages
    &-shell
      grid-template-rows: 50px 1fr
    &__title
      font-size: 18px
      line-height: 23px
    &__item
      max-height: 500px
      grid-template-rows: 50% 50%
      grid-template-columns: 100%
      &:first-child
        grid-template-rows: 50% 50%
        grid-template-columns: 100%
    &-card
      &_first
        padding: 30px 21px 30px 32px
      &__price-block
        grid-template-rows: 100%
        grid-template-columns: 50% 50%
        align-items: end
      &__description
        grid-template-rows: 1fr 1fr
        grid-template-columns: 60% 40%
      &__guests
        justify-self: end
  .footer
    padding: 69px 0 21px
    &-wrapper
      grid-template: auto / 1fr
      row-gap: 30px
    &__title
      margin-bottom: 12px
      &_inline
        margin-bottom: 20px
    &__categories
      grid-row-start: 5
    &__additional
      grid-row-start: 4
    &__legal
      grid-row-start: 3
      grid-column-start: 1
    &__social-networks
      grid-row-start: 2
      margin-left: 0
      flex-direction: column
    &__contacts
      margin-top: 11px
      margin-bottom: 30px
      grid-row-start: 6
      &-form
        grid-row-start: 7
    &__form
      &-title
        margin-bottom: 13px
        margin-top: 0
    &__input
      &-group
        margin-bottom: 15px
        width: 100%
    &__massage
      margin-bottom: 15px
    &__decryption
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 1
    &__info
      margin-top: 30px
    &-info
      flex-direction: column
      align-items: flex-start
      &__list
        margin-bottom: 10px
      &__image
        position: relative
  .categories
    &__title
      margin-bottom: 18px
  .social-networks
    &__icons
      max-width: 85px
  .contacts
    &__title
      margin-bottom: 20px
    &__icon
      padding-left: 3px
    &-wrapper
      grid-template-columns: 31px 1fr
  .modal
    &__dialog
      padding: 25px 35px
      min-width: 320px
    &__button
      width: 100%
      order: 1
    &__decryption
      margin-bottom: 15px
@media (max-width: 480px) and (min-width: 320px)
  .navbar-top
    padding: 28px 0
  .logo
    width: 99px
  .slider
    height: 179px
  .map
    height: 173px
  .hotel
    &-info
      &__stars
        margin-right: 14px
  .packages
    &-card
      &__description
        grid-template-rows: 1fr 1fr 1fr
        grid-template-columns: 100%
      &__guests
        justify-self: start
  .subscription
    background-size: cover
  .reviews
    &__text
      text-align: start
@media (max-width: 991.98px) and (orientation: landscape)
  .modal
    &__dialog
      max-height: 320px
      overflow-y: auto
@media ( max-width: 767.98px) and (orientation: landscape)
  .header-bottom
    &_mobile
      &_visible
        overflow-y: auto
