@media (max-width: 1199.98px)
  .container
    max-width: 960px

@media (max-width: 991.98px)
  .container
    max-width: 700px
  .navbar-top
    padding: 30px 0
    &__search
      margin-left: auto
      margin-right: 73px
  .logo
    width: 132px
  .search
    &__input
      width: 340px
  .navbar-bottom
    padding-top: 22px
    padding-bottom: 23px
  .nav-menu
    justify-content: space-evenly
    &__item
      line-height: 15px
    &__link
      font-size: 12px

@media (max-width: 767.98px)
  .container
    width: 90%
  .navbar-top
    &__search, &__user
      display: none
  .menu-button
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    height: 11px
    width: 16px
    padding: 0
    border: none
    background-color: $light
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
  .navbar-bottom
    display: none
  .hotel-info
    padding-top: 5px
    &__text
      width: 100%
    &__offer
      order: -1
    &__name
      width: 100%
      margin-right: 0
      margin-top: 10px
    &__stars
      margin: 0
    &__rating
      display: none
  .hotel-wrapper
    justify-content: space-between
  .stars
    width: auto

@media (max-width: 480px) and (min-width: 320px)
  .navbar-top
    padding: 28px 0
  .logo
    width: 99px
