.swiper
  width: 728px
  height: 450px
  margin: 0
  border-radius: 8px
  &::after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    z-index: 10
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
.slider
  position: relative
  &__image
    width: 100%
    height: 100%
    object-fit: cover
  &-button
    position: absolute
    top: 50%
    transform: translateY(-40%)
    z-index: 99
    padding: 0
    width: 30px
    height: 30px
    border: none
    background-color: transparent
    background-repeat: no-repeat
    background-position: center
    cursor: pointer
    &_next
      right: 18px
      background-image: url(../img/arrow-next.svg)
    &_prev
      left: 16px
      background-image: url(../img/arrow-prev.svg)
