.footer
  padding: 108px 0 46px
  background-color: $dark
  color: #BDBDBD
  &-wrapper
    display: grid
    grid-template: auto auto 43px auto / minmax(24%, 285px) minmax(25%, 285px) 31% 1fr
    row-gap: 23px
  &__logo
    grid-row: span 2
    align-self: end
    max-width: max-content
    &-image
      width: 162px
      height: 190px
      padding-bottom: 12px
      padding-right: 10px
  &__title
    margin-top: 0
    margin-bottom: 16px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    color: $light
    &_inline
      margin-bottom: 0
  &-list
    list-style: none
    margin: 0
    padding: 0
    &__item
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160%
  &__categories
    grid-row: span 2
  &__social-networks
    grid-column: span 2
    display: flex
  &__contacts
    grid-row-start: 4
    grid-column: span 2
    &-form
      grid-row-start: 4
      grid-column-start: 3
      grid-column: span 2

  &__form
    align-items: flex-start
    &-title
      margin-top: 5px
      margin-bottom: 35px
  &__input
    width: 100%
    &-group
      margin-bottom: 16px
      width: 255px
  &__message
    flex-basis: 100%
    margin-bottom: 22px

  &__decryption
    font-weight: bold
    color: #E0E0E0
    align-self: center
    margin-top: 1px
  &__info
    margin-top: 102px
  &-info
    position: relative
    display: flex
    justify-content: center
    &__list
      margin: 0
      padding: 0
      display: flex
      justify-content: space-between
      list-style: none
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      min-width: 283px
    &__image
      position: absolute
      bottom: 0
      right: 0
      width: 136px
      height: 22px

.social-networks
  display: flex
  justify-content: space-between
  max-width: 293px
  &__icons
    display: flex
    justify-content: space-between
    min-width: 84px
.contacts
  max-width: 493px
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 160%
  &__title
    margin-top: 17px
    margin-bottom: 23px
    margin-left: -4px
  &__text
    display: block
    margin-bottom: 22px
    margin-left: -4px
  &-wrapper
    display: grid
    grid-template-columns: 41px 1fr
    row-gap: 20px
  &__icon
    margin-top: 4px
    margin-left: 3px
  &__email
    width: max-content
.phones
  display: flex
  flex-direction: column
.footer
  &__marker-icon
    margin-left: 5px
  &__phone-icon,
  &__email-icon
    margin-top: 6px
